.shape {
  z-index: 9;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    left: -80%;
    z-index: -1;
    top: 55%;
    transform: translateY(-50%);
    background-image: url("/shape.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
  }
}

.btn {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  &::before {
    content: "";
    border: 1px solid #52eae0;
    position: absolute;
    top: -5px;
    left: 5px;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &:hover {
    &::before {
      top: 0;
      left: 0;
    }
    background: #52eae0;
    color: rgba(0, 0, 0, 0.8);
    font-size: bold;
  }
}

.project {
  .overlay {
    opacity: 0;
    transition: all 0.5s ease-in;
  }

  &:hover {
    .overlay {
      opacity: 1;
      background-color: #141415;
      background-image: url("/stars.png");
    }
  }
}
